body {
    background-color: #333;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
   /*  -webkit-tap-highlight-color: #ccc; */
}

#header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 3px 3px;
}

#Menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
}

#Menu a {
    color: White;
    text-decoration: none;
    text-align: center;
    padding: 9px;
}

#Menu a:active,
#Menu a:hover {
    background-color: #383838;
    border-radius: 25px
}

@media(hover: hover) and (pointer: fine) {
    #Menu a:hover {
        background: #383838;
    }
}