@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
html {
    font-size: 62.5%;
}

body {
    background-color: #333;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

/* #header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 3px 3px;
} */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background-color: #333;
    -webkit-tap-highlight-color: #383838;
    z-index: 100;
}
main {
    overflow: hidden;
}
.menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
}

.menu a {
    color: White;
    text-decoration: none;
    text-align: center;
    padding: 9px;
}

.menu a:active,
.menu a:hover {
    background-color: #383838;
    border-radius: 25px
}

#void {
    height: 45px;
    background-color: #333;
    top: 0;
    left: 0;
    z-index: -100;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card {
    width: 250px;
    height: 450px;
    background-color: #333;
    border-radius: 25px;
    margin: 10px;
    box-shadow: 0px 0px 10px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#personal-card {
    background-color: #333;
    border-radius: 25px;
    padding: 10px;
    margin: 15px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px #000;
    height: 400px;
    width: 200px;
}

.card-image {
    width: 100%;
    border-radius: 25px;
}


#console {
    font-family: 'Inconsolata', monospace;
    color: #fff;
    font-size: 1.4rem;
    background-color: black;
    background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
}

#personal-card p {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

#journal p {
    margin-bottom: 10px;
    text-align: left;
}